/* Set global font and colors */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Style the header section */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

header h1 {
  font-size: 36px;
  margin: 0;
  color: #fff;
  font-family: 'Beleren-Bold', sans-serif;
}

header nav {
  display: flex;
  flex-direction: row;
}

header nav a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Beleren-Bold', sans-serif;
}

header nav a:hover {
  color: #b2b2b2;
}

/* Style the main content section */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the character section */
.character-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.character-description {
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
}

.character-model {
  width: 50%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

/* Style the monster section */
.monster-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.monster-description {
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
}

.monster-model {
  width: 50%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}


/* Style the model generator section */
.form-dalle {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  width: 100%;
}

.form-group-dalle {
  margin-bottom: 20px;
  width: 100%;
}

.label-dalle {
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: bold;

}

/* Style the footer section */
footer {
  padding: 20px;
  background-color: #333;
  text-align: center;
  color: #fff;
}

footer p {
  margin: 0;
}

/* Style the button */
button {
  background-color: #c51e3a;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Beleren-Bold', sans-serif;
  margin: 10px;
}

button:hover {
  background-color: #af1b34;
}

/* Style the form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-label {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  }
  
  .form-group textarea {
  height: 100px;
  }
  
  .form-group input[type="submit"] {
  background-color: #c51e3a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Beleren-Bold', sans-serif;
  }
  
  .form-group input[type="submit"]:hover {
  background-color: #af1b34;
  }