/* Style for character section */
.character-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.character-description {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.character-model {
  width: 50%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

/* Style for map section */
.map-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.map-description {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.map-image {
  width: 50%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

/* Style for character stats */
.character-stats {
  margin-top: 20px;
  text-align: center;
}

.character-stats h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.character-stats p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Style for character description and dialogue */
.character-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.character-description p {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.5;
}

/* Style for map description */
.map-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.map-description p {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.5;
}